/* black background, golden text
/* -------------------------------------------------- */

body{
    background-color: #13293d;
    color: #f5f5f5;
}

form{
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}